<style>
    .table > tbody > tr > td{
        border-top:0px !important;
    }
    .table{
        margin-bottom:0px;
    }
    th,td{width:100px;}
    tr:nth-child(even) {background-color:#ccc;}
    tr:nth-child(odd) {background-color:#FFF;}
    #ex{background-color:transparent;}
    #ex tr:nth-child(even) {background-color:transparent;}
    #ex tr:nth-child(odd) {background-color:transparent;}
    .loader_in_css{
        top:50%;
        left:50%;
        position:fixed;
		z-index:3;
    }    
    .customerInfoSet .reviewLabel{
        font-weight: bold;
        width: 180px;
        display: inline-block;
    }
    .customerInfoSet{
        margin-bottom: 25px !important;
    }
</style>

<div class="loader_in_css" ng-show="loader">
	<img src="images/loader.GIF"/>
</div>
<div id="cover" ng-show="loader"></div>
<div class="container">
	<h2>Product Registration</h2>
	<fieldset>
		<legend><h3>Submitted</h3></legend>
		<fieldset class="customerInfoSet" ng-show='facilityInfo.name'>
			<legend><h4>Facility Information</h4></legend>
			<p><div class='reviewLabel'>Facility Name </div><b>: </b> {{facilityInfo.name}}</p>
			<p><div class='reviewLabel'>Facility Address </div><b>: </b> {{facilityInfo.address.street}}</p>
			<p><div class='reviewLabel'>Facility Phone </div><b>: </b> {{facilityInfo.phoneNumber}}</p>
			<p><div class='reviewLabel'>Customer Type </div><b>: </b> {{facilityInfo.customerType}}</p>
			<p><div class='reviewLabel'>Customer Sub-Type </div><b>: </b> {{facilityInfo.customerSubType}}</p>
			<p><div class='reviewLabel'>Customer Sub-Sub-Type </div><b>: </b> {{facilityInfo.customerSubSubType}}</p>
			<p><div class='reviewLabel'>Facility Brand </div><b>: </b> {{facilityInfo.customerBrand}}</p>
			<p><div class='reviewLabel'>Facility Sub-Brand </div><b>: </b> {{facilityInfo.customerSubBrand}}</p>

			<p><div class='reviewLabel'>First Name </div><b>: </b> {{facilityContacts._firstName}}</p>        
			<p><div class='reviewLabel'>Last Name </div><b>: </b> {{facilityContacts._lastName}}</p>        
			<p><div class='reviewLabel'>Contact Email </div><b>: </b> {{facilityContacts._emailAddress}}</p>        
			<p><div class='reviewLabel'>Contact Phone </div><b>: </b> {{facilityContacts._phoneNumber}}</p> 

			<p><div class='reviewLabel'>Sell Date </div><b>: </b> {{productInfo.sellDate}}</p>        
			<p><div class='reviewLabel'>Install Date </div><b>: </b> {{productInfo.installDate}}</p>        
			<p><div class='reviewLabel'>Invoice </div><b>: </b> {{productInfo.invoiceNumber}}</p>        
			<p><div class='reviewLabel'>Customer Source </div><b>: </b> {{productInfo.customerSource}}</p>        
			<p><div class='reviewLabel'>Management Company </div><b>: </b> {{productInfo.managementCompany}}</p>        
			<p><div class='reviewLabel'>Buying Group </div><b>: </b> {{productInfo.buyingGroup}}</p>        
			<p><div class='reviewLabel'>Dealer Rep </div><b>: </b> {{productInfo.dealerRep}}</p>        
		</fieldset>
		<fieldset>
			<legend><h4>Product Information</h4></legend>
			<div class="table-responsive">
				<table class="table" >
					<thead >
						<tr >
							<th >Serial Number</th>
							<th>Product Name</th>
							<th>Unit-priced</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="simple in productsSubmitList.simpleLineItems">
							<td>{{simple.serialNumber}}</td>
							<td>{{simple.productName}}</td>
							<td> </td>
							<td>$ {{simple.price}}</td>
						</tr>
						<tr ng-repeat="composite in productsSubmitList.compositeLineItems" >
							<td colspan="4">
								<table class="table" id="ex">
									<tr ng-repeat="component in composite.components">
										<td>{{component.serialNumber}}</td>
										<td>{{component.productName}}</td>

										<td style="position:relative;">
											<input type="checkbox" ng-if="$index==0" style="position:absolute;z-index:1;top:40px;" ng-disabled="true"/>
											<input type="checkbox" ng-if="(component.price==null) && ($index==0)" checked=checked style="position:absolute;z-index:1;top:40px;" ng-disabled="true"/>
										</td>

										<td ng-if="(component.price==null) && ($index==0)">$ {{composite.price}}</td>
										<td ng-if="component.price!=null">$ {{component.price}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>            
			</div>
		</fieldset>
		<div style="margin-top:10px;">
			<p>Submitted: {{productsSubmitList.draftSubmittedDate}}</p>
			<p>Submission ID: {{productsSubmitList.id}}</p>
		</div>
	</fieldset>
	<div class="form-group ">
		<div>
			<a href="/partner-tools/#/"> 
				<button
					class="btn btn-sm btn-primary"
					type="submit"
					ng-click="partnerToolsPage()">
					<i class="glyphicon glyphicon-home"></i> Home
				</button>
			</a>
			&nbsp; &nbsp;
			<button 
				class="btn btn-sm btn-primary" 
				type="reset" 
				ng-click="productRegistrationHome()">
				<i class="glyphicon glyphicon-repeat"></i> Start New Registration
			</button>
			&nbsp; &nbsp;
			<a href="/extended-warranty/#/extendedWarrantySelection">
				<button
					class="btn btn-sm btn-primary"
					type="submit"
					ng-click="setExtendedWarrantyAssets()">
					Purchase Extended Warranty
				</button>
			</a>
		</div>
	</div>
</div>