<style>
    #draft_table thead tr th{
        text-align: center;
    }
    .loader_in_css{
        top:50%;
        left:50%;
        position:fixed;z-index:3}

</style>
<div class="loader_in_css" ng-show="loader">
	<img src="images/loader.GIF"/>
</div>
<div id="cover" ng-show="loader"></div>
<div class="container">
	<h2>Product Registration</h2>
	<h3>Commercial Drafts</h3>
	<span class="pull-right" style="margin-top:-40px;">
		<span class="pull-right" style="margin-top:-40px;">
			<a href="/partner-tools/#/"> 
				<button
        			class="btn btn-primary" 
					type="submit"> 
						<< Partner Tools
				</button>
			</a>
		</span>
	</span>
	<div class="table-responsive">
		<table class="table table-bordered" style="text-align:center;" id="draft_table">
			<thead>
				<tr>
					<th>RegistrationID</th>
					<th>Facility Name</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="DraftsList.length<=0">
					<td colspan="5" class="text-danger"><strong>No Drafts are found</strong></td>
				</tr>
				<tr ng-repeat="drafts in DraftsList" ng-if="DraftsList.length>0">
					<td>
						<a href="#/productRegistrationDraftView" ng-if="drafts.isSubmitted" style="text-decoration:underline;" >{{drafts.id}}</a>
						<a href="#/productRegistrationDraftEdit" ng-if="!drafts.isSubmitted" style="text-decoration:underline;" ng-click="EditDraft(drafts)">{{drafts.id}}</a>
					</td>
					<td>{{drafts.facilityName}}</td>
					<td ng-if="!drafts.isSubmitted">Draft</td>
					<td ng-if="drafts.isSubmitted">Submitted</td>
					<td ng-if="!drafts.isSubmitted"><button  type="button" class="btn btn-danger" ng-click=delete_Drafts(drafts.id)>Delete</button></td>
					<td ng-if="drafts.isSubmitted"><button  type="button" class="btn btn-danger" ng-disabled="true">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row col-sm-6">
		<button type="button" class="btn btn-primary" ng-click=newRegistration()>New Registration</button>
	</div>
</div>