<style>
    .table > tbody > tr > td{
        border-top:0px !important;
    }
    .table{
        margin-bottom:0px;
    }
    th,td{width:100px;}
    tr:nth-child(even) {background-color:#ccc;}
    tr:nth-child(odd) {background-color:#FFF;}
    #table_color{background-color:transparent;}
    #table_color tr:nth-child(even) {background-color:transparent;}
    #table_color tr:nth-child(odd) {background-color:transparent;}
    .loader_in_css{
        top:50%;
        left:50%;
        position:fixed;
		z-index:3;
	}
</style>

<div class="loader_in_css" ng-show="loader">
	<img src="images/loader.GIF"/>
</div>
<div id="cover" ng-show="loader"></div>
<div class="container">
	<h3>Product Registration</h3>
	<span class="pull-right" style="margin-top:-40px;">
		<a href="/partner-tools/#/"> 
			<button
        		class="btn btn-sm btn-primary" 
				type="submit"> 
				<< PartnerTools
			</button>
		</a>
	</span>
	<p style="margin-bottom:10px;color:#000;font-weight:bold;font-size:12px;">
		*Enter a sale price for all items in this registration.
		Composite products may be entered as unit-or component-priced.
	</p>
	<form
        name="productPricingForm"
        ng-submit="productRegistrationPricing_Next(productPricingForm.$valid)"
        novalidate>
		<fieldset>
			<legend><h4>Pricing</h4></legend>
			<div class="table-responsive">
				<table class="table" >
					<thead >
						<tr >
							<th >Serial Number</th>
							<th>Product Name</th>
							<th>Unit-priced</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="simple in productsPricingList.simpleLineItems">
						   <td>{{simple.serialNumber}}</td>
						   <td>{{simple.productName}}</td>
						   <td> </td>
						   <td>
							   <ng-form name="userFieldForm">
								   <input ng-model="simple.price" name="simplePrice" type="text"  required/>
								   <div class="error-container"
										ng-show="(submitted ||userFieldForm.simplePrice.$dirty) && (submitted ||userFieldForm.simplePrice.$invalid)">
									   <small class="text-danger" ng-show="userFieldForm.simplePrice.$error.required">
										   Please enter price </small>
								   </div>
							   </ng-form>

						   </td>
						</tr>
						<tr ng-repeat="composite in productsPricingList.compositeLineItems">
							<td colspan="4">
								<table class="table" id="table_color">
									<tr ng-repeat="component in composite.components">
										<td>{{component.serialNumber}}</td>
										<td>{{component.productName}}</td>
										<td style="position:relative;">
											<input
												   type="checkbox" ng-model="composite.isChecked"
												   ng-click="checkedCompositePrice(composite,$parent.$parent.$index)"
												   ng-if="$index==0"
												   style="position:absolute;z-index:1;top:40px;"
											/>
										</td>
										<td>
											<ng-form name="userFieldForm2">
												<input type="text" name="componentPrice" ng-model="component.price"  ng-if="!composite.isChecked " required/>

												<div class="error-container"
													ng-show="(submitted ||userFieldForm2.componentPrice.$dirty) && (submitted ||userFieldForm2.componentPrice.$invalid)">
													<small class="text-danger" ng-show="userFieldForm2.componentPrice.$error.required">
														Please enter price 
													</small>
												</div>
										   </ng-form>
										   <ng-form name="userFieldForm3">
											   <input type="text" ng-model="composite.price" name="compositePrice" ng-if="composite.isChecked && $index==0" required/>
											   <div class="error-container"
													ng-show="(submitted ||userFieldForm3.compositePrice.$dirty) && (submitted ||userFieldForm3.compositePrice.$invalid)">
													<small class="text-danger" ng-show="userFieldForm3.compositePrice.$error.required">
														Please enter price 
												   </small>
											   </div>
										   </ng-form>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<div class="form-group ">
			<div>
				<button class="btn btn-sm btn-primary" type="submit">
					<i class="glyphicon glyphicon-ok-sign"></i> Next
				</button>
				&nbsp; &nbsp;
				<button class="btn btn-sm" type="reset" ng-click="productRegistrationPricing_Previous()">
					<i class="glyphicon glyphicon-repeat"></i> Previous
				</button>
			</div>
		</div>
	</form>
</div>