<style>
    .table > tbody > tr > td{
        border-top:0px !important;
    }
    .table{
        margin-bottom:0px;
    }
    th,td{width:100px;}
 	tr:nth-child(even) {background-color:#ccc;}
 	tr:nth-child(odd) {background-color:#FFF;}
 	#table_color{background-color:transparent;}
    #table_color tr:nth-child(even) {background-color:transparent;}
    #table_color tr:nth-child(odd) {background-color:transparent;}
    .loader_in_css{
        top:50%;
        left:50%;
        position:fixed;
		z-index:3;
    }
    .customerInfoSet .reviewLabel{
        font-weight: bold;
        min-width: 180px;
        display: inline-block;
    }
    .customerInfoSet{
        margin-bottom: 25px !important;
    }
</style>

<div class="loader_in_css" ng-show="loader">
	<img src="images/loader.GIF"/>
</div>
<div id="cover" ng-show="loader"></div>
<div class="container">
	<h3>Product Registration</h3>
	<span class="pull-right" style="margin-top:-40px;">
		<a href="/partner-tools/#/"> 
			<button
        		class="btn btn-sm btn-primary" 
				type="submit"> 
					<< PartnerTools 
			</button>
		</a>
	</span>
	<fieldset>
		<legend><h3>Review</h3></legend>

		<fieldset class="customerInfoSet" ng-show='facilityInfo.name'>
			<legend><h4>Facility Information</h4></legend>
			<p><div class='reviewLabel'>Facility Name </div><b>: </b> {{facilityInfo.name}}</p>
			<p><div class='reviewLabel'>Facility Address </div><b>: </b> {{facilityInfo.address.street}}</p>
			<p><div class='reviewLabel'>Facility Phone </div><b>: </b> {{facilityInfo.phoneNumber}}</p>
			<p><div class='reviewLabel'>Customer Type </div><b>: </b> {{facilityInfo.customerType}}</p>
			<p><div class='reviewLabel'>Customer Sub-Type </div><b>: </b> {{facilityInfo.customerSubType}}</p>
			<p><div class='reviewLabel'>Customer Sub-Sub-Type </div><b>: </b> {{facilityInfo.customerSubSubType}}</p>
			<p><div class='reviewLabel'>Facility Brand </div><b>: </b> {{facilityInfo.customerBrand}}</p>
			<p><div class='reviewLabel'>Facility Sub-Brand </div><b>: </b> {{facilityInfo.customerSubBrand}}</p>

			<p><div class='reviewLabel'>First Name </div><b>: </b> {{facilityContacts._firstName}}</p>        
			<p><div class='reviewLabel'>Last Name </div><b>: </b> {{facilityContacts._lastName}}</p>        
			<p><div class='reviewLabel'>Contact Email </div><b>: </b> {{facilityContacts._emailAddress}}</p>        
			<p><div class='reviewLabel'>Contact Phone </div><b>: </b> {{facilityContacts._phoneNumber}}</p> 

			<p><div class='reviewLabel'>Sell Date </div><b>: </b> {{reviewDraft.sellDate}}</p>        
			<p><div class='reviewLabel'>Install Date </div><b>: </b> {{reviewDraft.installDate}}</p>        
			<p><div class='reviewLabel'>Invoice </div><b>: </b> {{reviewDraft.invoiceNumber}}</p>        
			<p><div class='reviewLabel'>Customer Source </div><b>: </b> {{reviewDraft.customerSource}}</p>        
			<p><div class='reviewLabel'>Management Company </div><b>: </b> {{reviewDraft.managementCompany}}</p>        
			<p><div class='reviewLabel'>Buying Group </div><b>: </b> {{reviewDraft.buyingGroup}}</p>        
			<p><div class='reviewLabel'>Dealer Rep </div><b>: </b> {{reviewDraft.dealerRep}}</p>        
		</fieldset>
    
		<fieldset>
			<legend><h4>Product Information</h4></legend>
			<div class="table-responsive">
				<table class="table" >
					<thead >
					<tr >
						<th >Serial Number</th>
						<th>Product Name</th>
						<th>Unit-priced</th>
						<th>Price</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="simple in productsReviewList.simpleLineItems">
						<td>{{simple.serialNumber}}</td>
						<td>{{simple.productName}}</td>
						<td> </td>
						<td>$ {{simple.price}}</td>
					</tr>
					<tr ng-repeat="composite in productsReviewList.compositeLineItems" >
						<td colspan="4">
							<table class="table" id="table_color">
								<tr ng-repeat="component in composite.components">
									<td>{{component.serialNumber}}</td>
									<td>{{component.productName}}</td>
									<td style="position:relative;">
										<input type="checkbox" ng-if="$index==0" style="position:absolute;z-index:1;top:40px;" ng-disabled="true"/>
										<input type="checkbox" ng-if="(component.price==null) && ($index==0)" checked=checked style="position:absolute;z-index:1;top:40px;" ng-disabled="true"/>
									</td>

									<td ng-if="(component.price==null) && ($index==0)">$ {{composite.price}}</td>
									<td ng-if="component.price!=null">$ {{component.price}}</td>
								</tr>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</fieldset>
	<div class="form-group ">
		<div>
			<button class="btn btn-sm btn-primary" type="submit"
					ng-click="productRegistrationReview_Next()"
			>
				<i class="glyphicon glyphicon-ok-sign"></i> Submit
			</button>
			&nbsp; &nbsp;
			<button class="btn btn-sm" type="reset" ng-click="productRegistrationReview_Previous()">
				<i class="glyphicon glyphicon-repeat"></i> Previous
			</button>
		</div>
	</div>
</div>