<div class="modal-header"> <h4 class="modal-title">Warning !</h4></div>
<div class="modal-body">Registration Id {{productsSubmitList.id}} already submitted.</div>
<div class="modal-footer">
    <a href="/partner-tools/#/">
        <button ng-click="handleOnOk()" type="button" class="btn btn-primary"> OK </button>
    </a>
</div>