<style>
    .form-horizontal .control-label {
        font-size:12px !important;
    }
    .form-control {
        height:30px !important;
        padding: 0px 12px !important;
    }
    .loader_in_css{
        top:50%;
        left:50%;
        position:fixed;z-index:3}
</style>

<div ng-controller="facilityController">
    <div class="loader_in_css" ng-show="loader">
		<img src="images/loader.GIF"/>
	</div>
	<div id="cover" ng-show="loader"></div>
    <form
		name="addNewFacilityForm"
		class="form-horizontal"
		role="form"
		ng-submit="addFacility_submit(addNewFacilityForm.$valid)"
		novalidate>
        <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Add new facility</h3>
        </div>-->
        <div class="modal-body">
            <fieldset>
                <legend>Add new facility</legend>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Facility Name
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input
								type="text"
								id="facilityNewName"
								class="form-control"
								name="facilityNewName"
								ng-model="addNewFacility.facilityName"
								placeholder="Enter Facility Name"
								required/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.facilityNewName.$dirty) && (submitted || addNewFacilityForm.facilityNewName.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.facilityNewName.$error.required">
                                    Please enter facility name 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine1" class="control-label col-sm-3">Address Line 1
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input
								id="addressLine1"
								class="form-control"
								name="addressLine1"
								ng-model="addNewFacility.addressLine1"
								placeholder="Enter address line 1"
								required/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.addressLine1.$dirty) && (submitted || addNewFacilityForm.addressLine1.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.addressLine1.$error.required">
                                    Please enter address line 1 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine2" class="control-label col-sm-3">Address Line 2</label>

                        <div class="col-sm-8">
                            <input
								id="addressLine2"
								class="form-control"
								name="addressLine2"
								ng-model="addNewFacility.addressLine2"
								placeholder="Enter address line 2"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="control-label col-sm-3">City
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input
								id="city"
								class="form-control"
								name="city"
								ng-model="addNewFacility.city"
								placeholder="Enter City"
								required/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.city.$dirty) && (submitted || addNewFacilityForm.city.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.city.$error.required">
                                    Please enter city 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country" class="control-label col-sm-3">Country <span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <select
								id="country"
								class="form-control"
								name="country"
								ng-model="addNewFacility.selectedCountry"
								ng-options="country as country.name for country in countries"
								ng-change="onCountrySelected()"
								required>
                                <option value="">Select a country..</option>
                            </select>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.country.$dirty) && (submitted || addNewFacilityForm.country.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.country.$error.required">
									Please select country 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="region" class="control-label col-sm-3">Region <span class="text-danger">*</span></label>

                        <div class="col-sm-8">
                            <select
								id="region"
								class="form-control"
								name="region"
								ng-model="addNewFacility.selectedRegion"
								required
								ng-options="region as region.name for region in regions">
                                <option value="">Select a region</option>
                            </select>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.region.$dirty) && (submitted || addNewFacilityForm.region.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.region.$error.required">
                                    Please select region 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postalCode" class="control-label col-sm-3">Postal code
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input
								id="postalCode"
								class="form-control"
								name="postalCode"
								ng-model="addNewFacility.postalCode"
								required
								placeholder="Enter postal code"/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.postalCode.$dirty) && (submitted || addNewFacilityForm.postalCode.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.postalCode.$error.required">
                                    Please enter postal code 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="control-label col-sm-3">Phone
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input
								id="phone"
								class="form-control"
								name="phone"
								ng-model="addNewFacility.phone"
								placeholder="Enter phone number"
								required
								maxlength="30"/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.phone.$dirty) && (submitted || addNewFacilityForm.phone.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.phone.$error.required">
                                    Please enter phone number 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerType" class="control-label col-sm-3">Customer Type
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <select
								id="customerType"
								class="form-control"
								name="customerType"
								ng-model="addNewFacility.selectedCustomerType"
								ng-options="customerType as customerType.name for customerType in customerTypes"
								ng-change="onCustomerTypeSelected()"
								required>
                                <option value="">Select a customer type</option>
                            </select>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.customerType.$dirty) && (submitted || addNewFacilityForm.customerType.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.customerType.$error.required">
                                    Please select customer type 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerSubType" class="control-label col-sm-3">Customer Sub-Type</label>

                        <div class="col-sm-8">
                            <select
								id="customerSubType"
								class="form-control"
								name="customerSubType"
								ng-model="addNewFacility.selectedCustomerSubType"
								ng-options="customerSubType as customerSubType.name for customerSubType in customerSubTypes"
								ng-change="onCustomerSubTypeSelected()">
                                <option value="">Select a customer sub-type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerSubSubType" class="control-label col-sm-3">Customer Sub-Sub-Type</label>

                        <div class="col-sm-8">
                            <select
								id="customerSubSubType"
								class="form-control"
								name="customerSubSubType"
								ng-model="addNewFacility.selectedCustomerSubSubType"
								ng-options="customerSubSubType as customerSubSubType.name for customerSubSubType in customerSubSubTypes"
								ng-change="onCustomerSubSubTypeSelected()">
                                <option value="">Select a customer sub-sub-type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="facilityBrand" class="control-label col-sm-3">Facility Brand</label>

                        <div class="col-sm-8">
                            <select
								id="facilityBrand"
								class="form-control"
								name="facilityBrand"
								ng-model="addNewFacility.selectedFacilityBrand"
								ng-options="facilityBrand as facilityBrand.name for facilityBrand in facilityBrands"
								ng-change="onFacilityBrandSelected()">
                                <option value="">Select a facility brand</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="facilitySubBrand" class="control-label col-sm-3">Facility Sub-Brand</label>

                        <div class="col-sm-8">
                            <select
								id="facilitySubBrand"
								class="form-control"
								name="facilitySubBrand"
								ng-model="addNewFacility.selectedFacilitySubBrand"
								ng-options="facilitySubBrand as facilitySubBrand.name for facilitySubBrand in facilitySubBrands">
                                <option value="">Select a facility sub brand</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>New Contact</legend>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="firstName" class="control-label col-sm-3">First Name
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input
								id="firstName"
								class="form-control"
								name="firstName"
								ng-model="addNewFacility.contact.firstName"
								placeholder="Enter first name"
								required/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.firstName.$dirty) && (submitted || addNewFacilityForm.firstName.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.firstName.$error.required">
                                    Please enter first name 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label col-sm-3">Last Name
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input
								id="lastName"
								class="form-control"
								name="lastName"
								ng-model="addNewFacility.contact.lastName"
								placeholder="Enter last name"
								required/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.lastName.$dirty) && (submitted || addNewFacilityForm.lastName.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.lastName.$error.required">
                                    Please enter last name 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactEmail" class="control-label col-sm-3">Contact Email
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input
								id="contactEmail"
								class="form-control"
								name="contactEmail"                             
								ng-keyup="validateEmail()"
								ng-mouseup="validateEmail()"
								ng-change="validateEmail()"
								ng-model="addNewFacility.contact.email"
								placeholder="Enter contact email address"
								required/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.contactEmail.$dirty) && (submitted || addNewFacilityForm.contactEmail.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.contactEmail.$error.required">
                                    Please enter contact email 
								</small>
                                <small class="text-danger"
                                       ng-show="!isValidMail && !addNewFacilityForm.contactEmail.$error.required">
                                    Please enter valid email 
								</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactPhone" class="control-label col-sm-3">Contact Phone
                            <span class="text-danger">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input
								id="contactPhone"
								class="form-control"
								name="contactPhone"
								ng-model="addNewFacility.contact.phone"
								placeholder="Enter contact phone"
								required
								maxlength="30"/>
                            <div class="error-container"
                                 ng-show="(submitted || addNewFacilityForm.contactPhone.$dirty) && (submitted || addNewFacilityForm.contactPhone.$invalid)">
                                <small class="text-danger"
                                       ng-show="addNewFacilityForm.contactPhone.$error.required">
                                    Please enter contact phone
								</small>
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <span class="text-danger pull-left">* Please fill all the Required fields to submit  </span>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-warning" type="reset" ng-click="addFacility_cancel()">Cancel</button>
        </div>
    </form>
</div>