<style>
    .loader_in_css{top:20%;left:45%;position:absolute;z-index:1}
</style>

<div class="loader_in_css" ng-show="loader">
	<img src="images/loader.GIF"/>
</div>
<div id="cover" ng-show="loader"></div>
<form
	name="AddNewProductnotListedForm"
	class="form-horizontal"
	role="form"
	novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add new Product</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <legend>New Product</legend>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="productType" class="control-label col-sm-3">Type</label>

                    <div class="col-sm-8">
                        <select class="form-control"
							id="productType"
							name="productType"
							ng-model="addNewProductnotListed.productLine"
							ng-options="product as product.name for product in productLines"
							required>
                            <option  value="">Select ProductType ...</option>
                        </select>
                        <div class="error-container"
                             ng-show="(AddNewProductnotListedForm.productType.$dirty && AddNewProductnotListedForm.productType.$invalid) || addNewProductnotListed.invalidProductType">
                            <small class="text-danger"
                                   ng-show="AddNewProductnotListedForm.productType.$error.required">
                                Please select the Product Type.
							</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productSerialNumber" class="control-label col-sm-3">Serial Number</label>

                    <div class="col-sm-8">
                        <input
							id="productSerialNumber"
							class="form-control"
							name="productSerialNumber"
							ng-model="addNewProductnotListed.productSerialNumber"
							ng-keyup="checkSerialNumberLength(addNewProductnotListed.productSerialNumber)"
							placeholder="Enter product Serial Number"
							required/>
                        <div class="error-container"
                             ng-show="(AddNewProductnotListedForm.productSerialNumber.$dirty && AddNewProductnotListedForm.productSerialNumber.$invalid) || addNewProductnotListed.invalidSerialNumber">
                            <small class="text-danger" ng-show="AddNewProductnotListedForm.productSerialNumber.$error.required">
                                Please enter Product Serial Number.
                            </small>
                        </div>                        
                        <div class="error-container"
                             ng-show="!AddNewProductnotListedForm.productSerialNumber.$invalid && addNewProductnotListed.invalidSerialNumberLength">
                            <small class="text-danger">
                                Please enter minimum 4 characters for the Serial Number.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productDescription" class="control-label col-sm-3">Description</label>

                    <div class="col-sm-8">
                        <textarea
							id="productDescription"
							class="form-control"
							name="productDescription"
							ng-model="addNewProductnotListed.productDescription"
							placeholder="Enter productDescription">
						</textarea>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addNewProductLine()">Add</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>